In [31]:
# Importe les biblios
import requests
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
#import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
#plt.style.use('seaborn')

#telechargement données et mise en biblio fichier 2020-22
#biblio 2020_21
df_impot_2021= pd.read_excel("ircom_communes_complet_revenus_2020.xlsx", skiprows=7)
#biblio 2021-22
#df_impot_2022= pd.read_excel("ircom_communes_complet_revenus_2021.xlsx", skiprows=0)

#supp doublons
df_impot_2021= df_impot_2021.drop_duplicates()
#df_impot_2022= df_impot_2022.drop_duplicates()


#filtre ligne où revenue fiscale = total 
df_total_impot_2021 = df_impot_2021[df_impot_2021["Unnamed: 4"] == "Total"]

df_total_impot_2021.head(10)
#df_impot_2022.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Nombre de foyers concernés,Montant,Nombre de foyers concernés.1,Montant.1
0,NaN,010,1.0,L'Abergement-Clémenciat,Total,460,14060.578,776.028,237,10104.437,317,9959.513,167,4329.541
1,NaN,010,2.0,L'Abergement-de-Varey,Total,133,4126.785,194.598,69,2853.607,92,2847.222,43,1304.361
10,NaN,010,4.0,Ambérieu-en-Bugey,Total,8986,220031.745,10656.487,3846,148137.712,6063,161633.163,2892,65418.754
19,NaN,010,5.0,Ambérieux-en-Dombes,Total,1020,31388.727,1662.779,547,22972.223,763,24785.795,312,7377.497
20,NaN,010,6.0,Ambléon,Total,62,1785.61,128.536,35,1414.004,37,875.81,30,814.481
29,NaN,010,7.0,Ambronay,Total,1533,44538.709,1976.403,816,32975.193,1090,34358.355,510,12601.509
30,NaN,010,8.0,Ambutrix,Total,430,13357.272,666.733,246,9806.954,316,10790.55,148,3687.162
31,NaN,010,9.0,Andert-et-Condon,Total,215,6920.148,432.802,106,5240.696,128,3921.604,86,2585.291
32,NaN,010,10.0,Anglefort,Total,624,17286.548,447.631,269,9714.575,439,14449.239,205,4603.012
33,NaN,010,11.0,Apremont,Total,223,6509.946,349.125,125,4626.106,163,4857.804,71,1938.983